In [1]:
# 주석은 #을 쓴다
# 숫자, 문자열, 리스트, 튜플

# type() => 데이터의 타입을 확인 함수

In [2]:
print(type('hello'))

<class 'str'>

In [3]:
print(type(100))

<class 'int'>

In [4]:
print(type(3.14))

<class 'float'>

In [5]:
# str : 문자열 생성은 "" ''로 만든다
# \문자를 통해서 " \" \' \\ \t \n"

In [6]:
print("\"안녕\" \t하\'세\'요 \n")
print("안녕하세요")

"안녕" 	하'세'요

안녕하세요

In [7]:
print("""안녕하세요
저는 손흥민입니다.
영국에서 축구를 합니다.
경기에서 골을 넣고 싶습니다.""")

안녕하세요
저는 손흥민입니다.
영국에서 축구를 합니다.
경기에서 골을 넣고 싶습니다.

In [8]:
print("""
안녕하세요
저는 손흥민입니다.
영국에서 축구를 합니다.
경기에서 골을 넣고 싶습니다.
""")

안녕하세요
저는 손흥민입니다.
영국에서 축구를 합니다.
경기에서 골을 넣고 싶습니다.

In [9]:
print("""\
안녕하세요
저는 손흥민입니다.\
영국에서 축구를 합니다.
경기에서 골을 넣고 싶습니다.\
""")

안녕하세요
저는 손흥민입니다.영국에서 축구를 합니다.
경기에서 골을 넣고 싶습니다.

In [10]:
#문자열 + 문자열 => 문자열
#문자열 + 숫자 => 오류

In [11]:
print('안녕'+'하세요')

안녕하세요

In [12]:
print('안녕'+10)

TypeError: can only concatenate str (not "int") to str

In [13]:
print('안녕'+"10")

안녕10

In [14]:
print('안녕'*3)

안녕안녕안녕

In [15]:
# str => 문자들의 집합
# 인덱싱 사용 => 배열의 인덱스처럼 사용
# 인덱스 : 0 ~ N-1

In [16]:
print('안녕하세요'[0])
print('안녕하세요'[1])
print('안녕하세요'[2])
print('안녕하세요'[3])
print('안녕하세요'[4])

안
녕
하
세
요

In [17]:
print('안녕하세요'[-1])
print('안녕하세요'[-2])
print('안녕하세요'[-3])
print('안녕하세요'[-4])
print('안녕하세요'[-5])

요
세
하
녕
안

In [ ]:
# [] => 스라이싱 : 범위 선택
# [ 시작 인덱스 : 종료 위치 ] => 시작 인덱스 ~ 종료 위치 - 1
# => [1:4] -> 1, 2, 3
# [ 시작 인덱스 : 종료 위치 ] => 시작 인덱스 ~ 종료 위치 - 1
# 시작 인덱스 생략 : [ : 4] => 0부터
# 종료 위치 생략 : [ 1 : ] => 끝까지

In [19]:
print('안녕하세요'[1:4])

녕하세

In [20]:
print('안녕하세요'[:4])

안녕하세

In [ ]:
# 숫자 타입
# 정수 int, 실수 float
# 사칙연산 => +, -, *, /, %
# 정수 나누기 : //
# 제곱 연산 : **

In [24]:
print(1+2)
print(10/3)
# 정수 결과만 나오는 나누기 연산
print(10//3)
# 제곱 
print(3**2)

3
3.3333333333333335
3
9

In [27]:
# 변수 사용
# 변수 = 데이터 
# 복합대입연산자 사용 가능

In [25]:
pi = 3.14
r = 2

In [26]:
print('원주율 : ', pi, '반지름 : ', r)

원주율 :  3.14 반지름 :  2

In [ ]:
# 캐스팅 함수
# 문자열 -> 정수 : int()
# 문자열 -> 실수 : float()
# 숫자 -> 문자열 : str()

In [ ]:
# 문자열을 다루는 함수
# format()
# upper() lower()
# strip lstrip() rstrip()
# find()
# split()
# is000
# in 연산자

In [30]:
# format : 문자열 포맷팅
format_a = '{}만원'.format(100)
print(format_a)
format_b = '{} {} {}'.format(1, 'string', True)
print(format_b)

100만원
1 string True

In [34]:
# strip() lstrip() rstrip() : 공백 제거해주는 함수
str1 = '   String   '
print('###' + str1 + '###')
print('###' + str1.strip() + '###')
print('###' + str1.lstrip() + '###')
print('###' + str1.rstrip() + '###')

###   String   ###
###String###
###String   ###
###   String###

In [36]:
# find() : 문자열을 포함하는 위치 인덱스 반환
result1 = '안녕하세요'.find('하')
print(result1)

2

In [37]:
# split() : 문자열을 첨자로 나누고 나눠진 결과를 리스트로 반환
list_1 = '1 2 3 4 5'.split(' ')
print(type(list_1), list_1)

<class 'list'> ['1', '2', '3', '4', '5']

In [39]:
# is000 : 문자열의 구성 파악
print('test123'.isalnum())
print('1000'.isdigit())

True
True

In [41]:
# in 연산자
print('안녕' in '안녕하세요')
print('바이' in '안녕하세요')

True
False

In [43]:
# 흐름제어
# if

# input함수는 문자열을 반환
num1 = input('정수 입력 >>> ')
num2 = int(num1)

if num2 > 0 :
    print('양수')
if num2 < 0 :
    print('음수')
if num2 == 0 :
    print('0')

정수 입력 >>> -10
음수

In [44]:
# 흐름제어
# if

# input함수는 문자열을 반환
num1 = input('정수 입력 >>> ')
num2 = int(num1)

if num2 > 0 :
    print('양수')
elif num2 < 0 :
    print('음수')
else :
    print('0')

정수 입력 >>> 5
양수

In [45]:
if 0 :
    print('0은 True')
else :
    print('0은 False')

0은 False

In [46]:
# 0은 False

if "" :
    print('공백 문자열은 True')
else :
    print('공백 문자열은 False')

공백 문자열은 False

In [47]:
# 0은 False
# 공백 문자열은 False
# 비어있는 리스트는 False
# None : 함수에서 반환 값이 없을 때 반환되는 값 => False

if [] :
    print('비어있는 리스트는 True')
else :
    print('비어있는 리스트는 False')

비어있는 리스트는 False

In [49]:
# pass 키워드

num3 = 10

if num3 > 0 :
    pass
else : 
    pass

In [55]:
# list 자료형 : 배열과 비슷한 형태, 집합과 같이 데이터들을 묶어서 사용
# 데이터들의 타입은 일치하지 않아도 된다
# [] 사용, 인덱스값을 통해서 참조

list_temp = [10, 900, 55, '문자열', True, False]
print(list_temp[2])
print(list_temp[3], list_temp[3][2], list_temp[3][:2])
print(list_temp[-2])

if list_temp[-2] :
    print('참')
    list_temp[-2] = False

print(list_temp)

55
문자열 열 문자
True
참
[10, 900, 55, '문자열', False, False]

In [ ]:
# list 연산 : +, *

In [71]:
# + 연산 : 리스트의 연결 => 새로운 리스트 생성
list_a = [1,2,3]
list_b = [4,5,6]

print(list_a + list_b)
print(list_a)
print(list_b)
print('list_a 리스트 요소의 개수 ', len(list_a))

list_a.append(4)
print('요소 추가', list_a)

list_a.insert(0, 10)
print('0번지에 10을 추가', list_a)

list_b.extend([133, 500, 874])
print('원본 리스트에 데이터 추가 : ', list_b)

del list_b[4]
print(list_b)

list_b.pop(4)
print(list_b)

list_b.remove(133)
print(list_b)

print( 5 in list_b )

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]
list_a 리스트 요소의 개수  3
요소 추가 [1, 2, 3, 4]
0번지에 10을 추가 [10, 1, 2, 3, 4]
원본 리스트에 데이터 추가 :  [4, 5, 6, 133, 500, 874]
[4, 5, 6, 133, 874]
[4, 5, 6, 133]
[4, 5, 6]
True

In [70]:
# 함수 : len, extend(), append(), insert(), del(), remove(), clear()

list_c = [1,2,3,4,5,6,7]
del list_c[1:3]
print(list_c)

del list_c[:3]
print(list_c)

list_c.clear()
print(list_c)

[1, 4, 5, 6, 7]
[6, 7]
[]

In [73]:
# for 반복문

for i in range(5):
    print(i)
    
for item in list_b:
    print(item)

0
1
2
3
4
4
5
6