In [1]:
# 쓰기
f = open('text.txt', 'w')
f.write('abcdefg')
f.close()

In [3]:
# 추가
f = open('text.txt', 'a')
f.write(',000')
f.close()

In [5]:
# 읽기
f = open('text.txt', 'r')
data = f.read()
print(data)
list_temp = data.split(',')
print(list_temp)
f.close()

abcdefg012345,000
['abcdefg012345', '000']

In [6]:
# csv
f = open('list.csv', 'r')
data = f.read()
f.close()
print(data)
print(type(data))

이름,전화번호,등번호
손흥민,010-1111-2222,7
이강인,010-1111-2223,19
김민재,010-1111-2224,20

<class 'str'>

In [10]:
import csv
# read : 행의 데이터 -> list 
f = open('list.csv', 'r')
data = csv.reader(f)
for item in data :
    print(item)
f.close()

['이름', '전화번호', '등번호']
['손흥민', '010-1111-2222', '7']
['이강인', '010-1111-2223', '19']
['김민재', '010-1111-2224', '20']

In [9]:
# pandas csv read
import pandas as pd
data = pd.read_csv('list.csv', encoding='cp949')
data
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [15]:
# xls , xlsx
import openpyxl as xl

data = xl.load_workbook('list.xlsx')
sheet = data['list']
print('>>>', sheet)

for cell in sheet :
    for i in cell:
        print(i.value)
    print('------------------')

>>> <Worksheet "list">
이름
전화번호
등번호
------------------
손흥민
010-1111-2222
7
------------------
이강인
010-1111-2223
19
------------------
김민재
010-1111-2224
20
------------------

In [16]:
# pandas => xls

data = pd.read_excel('list.xlsx')
data

    이름           전화번호  등번호
0  손흥민  010-1111-2222    7
1  이강인  010-1111-2223   19
2  김민재  010-1111-2224   20

In [17]:
# 파이썬 데이터 형식 그대로 저장 -> 읽기
import pickle

data = ['a', 'b', 'c']
f = open('pickle_data.txt', 'wb')
pickle.dump(data, f)
f.close()

In [13]:
f = open('pickle_data.txt', 'rb')
data = pickle.load(f)
print(data)
print(type(data))

['a', 'b', 'c']
<class 'list'>

In [18]:
import requests

In [19]:
url = 'https://www.naver.com'
res = requests.get(url)
print(res)

<Response [200]>

In [22]:
#print(res.text)
print(type(res.text))

<class 'str'>

In [24]:
print(res.text.find('네이버'))
print(res.text.find('로그인'))

365
6072

In [25]:
import bs4